input {
    margin-left: 15px;
    display: block;
}

label.userPassForm {
    width: 80px;
    display: block;
}

div.form {
    display: inline-block;
    margin-right: 20px;
}

div.passForm {
    display: inline-block;
}

body {
    margin: 0;
}